/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #c27676;
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #f8c146;
}

/* Categories */
.cat-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.cat-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

/* Featured Products */
.product-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.product-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}